<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libros</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body style="background-color: black;">
    
    <div>
        <div th:if="${exito}!=null" class="card text-white bg-success mb-3" >
            <div class="card-body">
                <h5 class="card-title">Exito</h5>
                <p class="card-text" th:text="${exito}"></p>
            </div>
        </div>
        <div th:if="${error}!=null" class="card text-white bg-danger mb-3" >
            <div class="card-body">
                <h5 class="card-title">Error</h5>
                <p class="card-text" th:text="${error}"></p>
            </div>
        </div>
    </div>


    <form th:action="@{/hormiga/comentario/}" th:object="${comentario}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" id="id" th:field="*{hormiga}">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label style="color: white;">Pais:</label>
                        </div>
                        <div class="col-auto">
                            <select class="form-control" name="autor" th:field="*{pais}">
                                <option th:each="pais : ${paises}" th:value="${pais.id}"  th:text="${pais.paisnombre}"></option>
                            </select>
                        </div>
                    </div>        				
                </div>


                <div class="col-auto">
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label style="color: white;">Estado:</label>
                        </div>
                        <div class="col-auto">
                            <select class="form-control" name="autor" th:field="*{estado}">
                                <option th:each="estado : ${estados}" th:value="${estado.id}"  th:text="${estado.estadonombre}"></option>
                            </select>
                        </div>
                    </div>        				
                </div>


                <div class="col-auto">
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label style="color: white;">Fecha:</label>
                        </div>
                        <div class="col-auto">
                            <input type="date" th:field="*{fechaVN}" name="fecha" min="2015-01-01">
                        </div>
                    </div>        				
                </div>


                <div class="col-auto">
                    <input type="submit" class="btn btn-primary me-md-2" value="Agregar">
                </div>
            </div>
        </form>








    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>
</html>